{#
/**
 * @file
 * Default theme implementation for sel spamspan element.
 *
 * Available variables:
 * - spamspan: Rendered spampspan markup.
 *
 * @see template_preprocess_sel_spamspan()
 *
 * @ingroup themeable
 */
#}

{{ spamspan }}
